.capture-fragment-border {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999999;
  background-color: #000;
}
.fragment-box {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999999;
  border: 1px solid #30AEFF;
}
.fragment-box * {
  box-sizing: content-box;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  display: block;
  text-align: center;
}
.fragment-box .fragment-image {
  display: block;
}
.fragment-box .edit_btn {
  width: 54px;
  height: 46px;
  padding: 8px 0 9px 0;
  margin: 0;
  display: block;
  border: none;
  float: left;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  box-sizing: border-box;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAACKCAIAAADkALfFAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAE5JREFUeNpi+vTpExMDAwMG/v//P8XilKgF8WH479+/cHkozfDnzx+mnz9/MoFodDOIoQmJkaKWGBrGfvv2LRMPDw8TGxsb1rAZpBggwADVTXhKaQ+THQAAAABJRU5ErkJggg==) repeat-x 0 0;
}
.fragment-box .edit_btn:hover {
  background-position: 0 -46px;
}
.fragment-box .edit_btn:hover i {
  background-position: 0 -27px;
}
.fragment-box .edit_btn:hover i.edit {
  background-position: -30px -27px;
}
.fragment-box .edit_btn:hover i.cancel {
  background-position: -60px -27px;
}
.fragment-box .edit_btn:hover .name {
  top: 32px;
}
.fragment-box .edit_btn:focus {
  background-position: 0 -92px;
}
.fragment-box .edit_btn.save {
  border-left: 1px solid #767676;
  border-right: 1px solid #767676;
  padding: 9px 0 10px 0;
  width: 58px;
}
.fragment-box .edit_btn.edit {
  border-radius: 5px 0px 0px 5px;
}
.fragment-box .edit_btn.cancel {
  border-radius: 0 5px 5px 0;
}
.fragment-box .edit_btn.nimbus {
  border-radius: 5px;
}
.fragment-box .edit_btn i {
  width: 30px;
  height: 27px;
  margin: 0 auto;
  display: block;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAK8AAAA2CAYAAACx+8n+AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAGxtJREFUeNrsnQlcFdUex89dufey7wjJpiAgiKiAIooIIiruqC9CIcs01AxLX1ZaZr2nWVliWc80lTLL5ZliaGouKJp7Yr0y8+WOqSiELJe7vP9/OMMbhrtzwfX/+ZyPlzszZ+7M+c7//P7/c+Yo0Gq15EGwkJCQAUKhcJlYLPaxt7evbNOmzUfr169/FTbVmXK8n58fsbGxeQ+OO7F3794v4CsNfmeqeXh4CMvLy9cEBAR8un379u/xeO52n/UHm3uJuUa2LzKnssvpPZp8Z4XfaI450IJ2yZIKBA8CvEFBQVMAvDw3NzeCRSaTEaVSSby8vE4sXry4L+xSDkVrBNwiW1vbeGdnZ9KrV6+P5s6dOxM23TEFYAruWXhoAvD4/v37vzZjxoy3YVONFcEw1lCCexzeEHo//qB/r4OSTj/bQFFCkUDB9toFRWWsQuH9Dm7nzp2FEolkEYBKwOuRtm3bEvCexMfHh1RXV0cVFxdPht0URsDdA+DF+/r6ksDAQHL+/Pmc999/fylstoXPpoD7i6OjYwDWhb/h559/nrt06dI3YbOcPDJk7AKU/0A5BEVMvx/IvY30339C2QalGoq/sYrF+hq0OcY2eIcOHYYDEKd27NhxzgTPYbZB/bEAyZHDhw/HHz9+vNjOzk4olUqZbfgvAEUuX76cCX/+m968Jr+Bgpvw2GOPMcCD9yUajYacPn167KJFizS5ubmT4Xr0eWABBTcIwccHSKFQELVaTY4ePfrC8uXLa5966ql5XA/8EBrKpzv0syeU+VC+4zmUKVD2QXmBw+Xtu+Z5AawnwCNurKmpOQONOIR2CdaUCuNB3x5asGDBL1OnTr2RnZ2dU1VVpamtrW3YRyQSEXd3dwm9aUIdOnkwSIwEb29vggXBBd1MoF4G/J9++inrgw8+WIw3WocHFsCxDLjo7Vlw8Xi4buZ4APgl2K+LPifxAJsrlPc4bf4FZxsCup23/9+hbOX8raRSD20ElOGtBi+AOxoa8HPsvv39/YVFRUWbNmzYMNZaAAcHB48Dj7kcPaWLi0vQrFmzihMTEw8PGzZsWmVlpQb1Lut9IyMjL1H91MTrpqSkfAfdfgXqVBbchi6JAlxSUjJ+yZIlH6AE4ADMgAseO5iVKSy4rCHAoH0r4GM0FNlDBK4LlDM0wLwCpT+UkRZIjaFQCqBsgLJRF8BWhxcaFcH9ChsUu1KAgyAc27ZtW24NgNGjA5Sr0FOyHk+lUnnMnj17W3Jy8oGhQ4dOq6ioIHV1dQhnGZz7NNVcGn5dEMzVzps3LxoeBCV6bH7wygJ88uTJpz/88MN3EOCMjAwh7H8SwcXr0wUuWkJCQiU8TEXw8ZypGY8HSCawWQQ3qmE7m1mHmEq9QYYCUnFLguvk5MQAgAZ6lAEYApprXbp02W5KNKnPo7PgRkREqEpLS8UIDkgGjzlz5hS+8cYbqaBZpwPQY3r16lUCh22GUqqvzh49epyF39gbpA1qLqlcLicCgaARwA4ODgQ0dU5eXp5o3759CQB0iD6PixYfH181cOBArO9LquVqHyJ4b1MvucWKdW6h3td4qsySgM0QuJzMQMXjjz/+Onz8zBRBzgN3OGpotv6oqCjVxIkTjx06dEicn5/fFbt99J4A07V33nmnH5UJ6AXOcwIGvd3UkSNHYgDgIvDqYky1cQFGQ09++/ZtUlZWxsgR0NI6we3Zs2fVkCFD9lBwC9jrfAhSZfa0XKPBWIUV4cWHYRMUJ1r+sJrnNQXc2NjYqhEjRuyHjxfN9UQILgCzESUCejzQsQjuUfSqH3/88QTwupg1YHQreD0UvIFQdtKUi8aUri46OvowaOU+q1evRvCaAIwaltXGGAji33xwwYvzwS1/iDwuxgVP0s+VRvZFBvKg/EalRQaURAP7r6PtKKU9NqYgVWIdOc9xEJjk45NuigeGRh5uBrhfQ/nenNQRZgTQ47LggvdWPfvss8cQjlGjRmWCbAjANBeChAES6N5D1NvVmghuA8DgNQ9CPUkrV67cpQtgvC7+tXGvETQuSoSvaORc3hLpwXvUFBxwGZWoZz8ELwXKHt69+RSKF81CdDKS0hXTOr4VcsDFCPo4dIWrxowZg6A5AcQCE8DdaCK4a6h2uWVqo+KQL9S3GetHcDt16sSAC+fcBOBmXL16NQyhxqAQNOZtAHcvfUCOW6KpEWDwnvuzs7OTampqVFCIKSOQ4LVr6DWu5UgF7UPkdatI/aBDjZFALhjKbj33BuOSrlBOGTnXu1B2NGQbKLjHIIKOQm8LcMTNnDnzB0x76AOYCy6CZW1wQ0NDk6G+b1mPi+BOmjSJARc83FgWXDw/dNUV4HUxss+nT+9flrQA7WkYgDMzM/ujvmXTbgYkjTI9Pf0A9bgF5lzjA2aFVALoMxzp/K+ROlQ0tabP0qC8yGZvhAguTf1EISSYO/X09CQVFRXBs2bNOqgLYD64qAWtDG4f6L534O/A+sPDwxlw4bzfQJ1PsOBi1mHw4MEVqamp6HE/bw64fICnT58+9/r164Q76KHLfv31V+nevXtxbL4YStlDCi46QRyY6GFgn9Um1lVKvbMu6w7lMap9CQ6nHnNwcOiEkLCjTAgiwExu3boVxAe4lcDdjXCiFEFwc3JyENwtUGfG5cuXw1lwBw0aVAFyYS89zzZrRbjBwcE7NRpNPHsvDOoMjYasWbMmPj8/fxypn2DyMJoayg22O9dhf1JpYaqt1PP9q5yA31/Yvn37hS4uLk1SP/gvH2DYZwxG/YbA5eg/s8GFLjiOC27Hjh01kydPPgHgFkDXPPLSpUvh6I1ZcNPS0oroeQqtBS70Qtvt7OySMAjEc2HQZtDlwH1CyHfv3j1rxYoVLz3EABvLLphjN03ZSVxYWPj1ggULoqH7y8UJJdz0Dxdg6LbPQEO6IOjYsPrABcj2cQIXs8CF+g6wUgE8sGbKlCnocTdDnSMuXLgQhVCjrAFvW0nB/YKCW24lcAsAxBR2kg4OrPDTYboM02ao+Q8cOPCaSCSqy8rKeodYNjCBedKnLfz5+ub7ftpcKWWCfUj1qL70VKiZ9YUYCQ4xm3ObHaSQ5+XlLfrxxx8n4mgSNga/a6ysrCRsPhWBNgLuZnP0X0hISCRAcpL1uGFhYZrnnnsOwS0YPXr0kD/++KMrCy7o28qhQ4fuox53KzFzsMOAVNgE4A5ldb8ucOF3KX///Xcp3gfM9fINBzLKy8txPvCr2dnZjQA2YwCgjwHNZ64l0rRUE2uh+by2BnK83lCumlgPDue31fE9Dj7t5ApttOqpU6fmRkZGfsLOC+B3jdiYKC1wrN+a4KIBCB+xHh3/7dat220A90BGRkYagstKhZSUFBbcL60M7joEF8+P59EFLtwbJXjUA5mZmev5s9e4Hhjvz/79+99cuXLlixZKiD0U4BYDtwUtxsA2U9/0SNIDLloqN+fLbSGjAKO34Tdqc8Gljd7F1dWV6XoRgC1btrjk5uaOv3LlSjTrcfv161c5fPhwFlyrjV5RcNNZqYC9Cv8aIyIilPAgoUz5GvZ/GTR9Fs5e0wcw1lFUVPQmBHG5FgK8t5kAtza4Etr23xvYZwyUqUbq8YfyrYHtOJ0SZwkG8OE1CjDfdIHr5+dnFrigbW0AFhkGPexEcjrRxgHTVghUcnJy1ciRI/cTK49e0fm86XgOfeCiVABvi3nc9aR+et5Z+D1rhwwZkqEPYLwOlF/ggd+CP6OIZcPwlgJ8Nzyumhge3mVtMWXFi/c9DvdOhPI7mwYzYJ6sQ9AVjZgEMHTtzQaXSoZk1NEY1bM6kp3JhTIlKSmpCs7TIqNXcXFxO93c3KpQqujTuCgVSP3YOoJ7g16jCuDdAIFj1l9//aUX4L59+6L+iyWWz+c1F+C7AS4TFkF5mbbNJ1BWGPHAV2kQeYjmdTEI+5jon6KLo26vQ/mF1E+0+pUY2NkgwAjuqFGjmg0uBXUUTkNkvS5XpsTGxtZQcM1Ou5liK1asqJ45c2Ys/AYVjqRxh4LBK+sDlx3IUIF8+Grw4MHZujww3iM6zI7BR3Pm85oKcJ+7BC5rS6A4Q5lkgjxAs6MPtqcJ+86AMpdmLQJYBnTCSxtHJ8DWBBdNIBAkY34ZvS3+C3WpunfvjlMnf4fz4ITkfNKCw66pqak/Z2dn96+urmbmMtC0nXLcuHEYeuP5cR7pdf410ntUN2zYsLVQxwTwwA1DyV27dmXvEUoN/FfZzJ9pDOA+dJ+7adz787aV684n/3+JoeE8erUYNs758+cZgPPy8gim0bALh0bZby1w0SA6P5KWllYCAMj9/f0xOX2dJrXP0W4Cp83dIS037Krp3bv3Xng4B61bt24reFwVeNyDIGG+oV73T33XSO9RHfQO+Wq1Wrxz586liYmJlaNHjy6mx1oUwBoBeM9dBFfM0avY3eua/BRB6ucxWNM86APRKJdtdDI6fW9LXlhYmDNgwAB7CtM2Q+Aae12cZyi+w0j9u084jHiTwlpDu1tNKzUMCu4OUBJI/WgdTou8ZsrDSa8XPUMklJ6YRqW52gZwrbgmQgIHYIvBtTDPi3ML2J16UM3KNyF9cPHFyY9ol49zfc0ZfEEN3AZKb9r7YXsEE97Im9EomPXAAC6OojhQsKqa63E5hl1qCSdqvVsTW9ScgAAfmBpTr5H1wPDxBK0DPVJtC10LV0K0tMd9jDRezSaS8zmKB68PfWjx3o2iDuk0596aYwrKGcpFd/pAlDWRnPfSijk2weEWHytXKAaoRZJlKhuZj8LOvjLQy/2jI6uXmbzcE55bKpe/5+nV5sTZ7Zu/MNfj+8X3Fd6s+GtNYEDAp6e++VrXck/39Gwz8MQCnufFQZaFUHDxlNdoz1LISYlhzzKA3l/MBMyGMpMewzeMV5zoZxyEOEwaD1nj5HKUWjc4mRl8GK4Y+s33/Yo5TFrKRjalVir/lvgG+thExhBtRLTdWQfPmcmvvPUDvWkCY+CK5fIitYNz7p+2zqvHLfgAX1GxNQfcG39VntW4uI+5ILXbMW0J89Dcz6+7e3MgfJV63ypeLjeRfneJgssGao/xHSSUOaR+2BgzRt/Tz9zJOseppx1G//6MmDAf476H19XZWai2kS0S+7Uj0tBIIm0fRiR+7YkkMIScEttHFRw9aXC5JwRXIpfv0Tq5xUvwc8cupPCWMue5f61eagrAFNxfiJtngLRDBBGHRZG1l8rmvrxq7b223NN0HeWQnn2v0NQUa230sCKk21ibR5oumoc9DjoDR9J4/YZNPM+Mtp2m0MabAq9FL2Ca2r3L5Irhvr5tT5Vs2cAs98QeV3vmtHVkhlweu2zBW0d2Hf8xfu1vl4vrHJyFAhsZ5t+IQCQiWlcPcuJGeWaageWeJDL5Ho2TW4K0fSgRB3QgIkcnolVryNqL18aST1ZpFk/Mmkz0vH0M1yMQyxUIbpAkqCOR+LYjQnsHolWpyIrfLr8gW7Ohdk7GyHtluadFeuKN7nr2fwPKMzw4DdlVKh/0ZnV4Uuo5Wvh2x9QLajHPayNXPKG0kW+8pBWdmZ//FbPck7WgpVJhfJ2N/NCUJct+mTvxqRsL0gfkyMtvarQ11YBoPaMCkZh4u7roXe7JsXPMYLWdQ4IksAOAG8yAS4QiIsBZdQD+2otlWbnL8hfr8twN4Lp6BEnQ21Nw64+XEo2rF/ns10v383JP7H0jPG/ZkZZNvG2exMpLet0VeBFcAOtzSUAQEYR0FuaVnNu0dMu2sdYC2EYmH6dS2C6XgKe87dMuKGXBkuLhcbGHX+8TPU1WVqrR1tYwACvEIpLawV/vck+DkxK/c/JsUyFy9wLwHBnwGoQaAAgelXxx/sb4F1d88QFXAjSA6+IezHhckCksuPUHC5jjsxLj7qXlnnJ1lEwdPTGmwHCUbCuPDxzlxPUTfqYFP+fzWNpKj+3RGg+suOXADSaSoDAiAgDq1Goy/2DJctz+7ODUfNKM4VKmfpl8lcSf1u/iTs5W3/FIe/fjbQUvTEqF8GDaa7uP5tW5tyEv94wo83Gw17vc0+fvLqjddeRY9OT120tu1lRLBbZiBjwuwFr4/avPXXtasGKNcuH4jBcnz5lXK5bJT2gBXGmwDnCpTY0Krny1Z+S9tNzTeyamxor1bHtLx3e4JOlYzt9JtKDhMO4f9w28TcH1qu+CxVpSDd0oAhzm1/ZaQqeOFi33BPWPZuqn4HYLC1X9VFYuVgodyOlK4jH43U8Kt7zwTKparZleJhCPmRAVYnS5p6TormeXiiS9J2/ctu86qBGhrX1TgEFCrDpXmqP+9HPRhkNHEoi7V4i0XSiAG6QT3Gcj21cBuA/rck+tZhbleXUFbHrBbYg5tWRcsE/FwpS414me5Z4MBYIY/KGGRimCGrNXZIRq7YjEYxtO/kc8rWBPV6G9E9FUV5EIbfW13bOfN3u5p90nTsXkrN9WdMPBXSy0tWsEMPPzlbVEfb2UqP+8QgQyORG38SVCB8cm4D4T0a5qXu+oPaTpck/3Q54XnVk3Ur8wXjrHi7Ky4QneYat5nhdHJXE+x0koR4lla2e0ruc1Ci7mPqBR/5nQxaLlnhDcOplio8SvHQNu94iOCO5RgUCw+e3lqyZAcE8k7RRMwJXSsbNFyz0lRnU6vEip7DPtm117ygRELFQ0BlggtSEijzZE6OjMZDKYrAYP3PHhgXxw77flnlQ0fXaIOpgqju7NoIHrKxwZMYyXTRjUmr2MmO/5MBiqOHUkn5g4tGkSuNCoAC67FNIuc1JHMoVicJ2NbKOYBTc8TLUhPekYgFsQmTUp8+KfNwKwC8fMwqzu4RXPR3e0eLmn1NhuB/OEwqSpm3buKiM6AAYJwQRyOiwrzJ97jbomzE+/z0BGnX6NlyobxgOWa9daW9s3yIb6CFp+TGvvFBXcIbj45PIPBxE9byyw3buZ4KI32kIMTCbnywYc8lVKbb4Vo8YFcGMA3H+P7ndMJhZvCsmcMPZi6Z9hEv/2BLe/lBx3+8XuEUW0K2vO4iPC744cj5+yaceuW44eTQDWZePC/GsWJnZjXwq1+rzj1jLe8DDKu9fMrAJz2nNaNVXWAK6LRxSOEl1w8o7r/+YiZrknomdo1VJw4VwmNapcYZuM4Ir8ghrAXTcyqTG44I3F/kFkRt8eFRTcfNL8VXM0KdFd9r83KLG/sPQS0dZUNeSNdVk/X08lgPugLffkzQP3qp5eDL+7zPl7Nmk6PNxy8DLgyuQnGXAx2Y4J+7YB5JjGJnjQ/MXFugBuaXAVCkUfpVS6Q+Tbnkih/q4dQxlw7Wyk34SOm/gEgosyAgcWpif2qPh7XCerLffENsqTL70yt/rqRSYINGR7/rgs/fzwjw/ack84PDyDfn6TAqmgko+13fQ7X/L/oWQ85lKrwSuWyY5pXT06MeCCFxM6ODG6TuTkSn6oFQWnzc/bxwXYITKmxcGtldrsrge3I4kKC1VtTE9GcLcAuBkXrpSGM/oXzj8tIbbi5Z6RVl/uya5T9M47AlE8ZjAwUDMoDLUCMqNwX/z8dZsftOWe3qHQzqYeFmOIdZzt6zhxBUoMH3pMq5mwXbt2C6We3kTs49c49QMRtcjZjRyqFYal/XMxA7BXXGJWS4JrI5PF1UplDeBGhoZqNo1KOQHgFoRnPzvywpWr4WLfQOYhQ3Bn94qy+nJPAO52jZNLkgSCQOyBhApbw5pXKCRqBxfy/okzs+Z9ueFBW+7pMu/vHzmfT+jw1q2e5xXl5P1r4fqrFbnEvU0TT6NVq4jm1k3iV3277EzJSRcBNJSkXUizwNU1ROzQqVucSqY4IGobSHDkKjwkRLP1b6ngcSWbAdwR/714KUqMs8XgwZmSEFv5eu8u6HFx3i2+51+OwV5zh54B3AKNo8sgfDDxPCInlybpMJ0GmlhbpySiG6VkaqfAV18eM9zS5Z7upYBNX3bK2GtArZ5tkD+/bPWSNedvjsfxfH46iAG4/BbRVlYQAUTfQkeXZnlcPmROnWMilWLpSRHAyQO3IHL8lCFnz5/vKvZtx+jxnN4xlW8kdG203JM1ZqsBuJsA3KGS9qHMeXSBOzDAS/nDxWvSGzVKJjXXyCM3AHyVAjzivgT4frKG5Z7enzBuSoaf6wpy4xrTCI0Ih4bCxhR5+xKRi5tVpQLT7mLJR0JPn3qP7uFN0kMDbwO4B7pMfD6tAdyADmRir2gW3C/54DbT467TODrXg8tMi2wK7vB2PsrPBsYfWNU/dr3t7euaJlkIOhlH7daGfFjy3zf/8dVGS5d7emTm5nnZeCl3WX4ezqTS5YF1mSXg8j2kfVzfamFoZ5k0OILg0Kywtpr43ymrOH3imIMQAkcE6un4bpXz+0Y3Wu6Jfx5LPC8FNx01Lk5gZzwubxG9oYHeyn8NiEN9jUOfu9btK459cdv+VdUunkKBTNHUAytrifhmKcntHDRrxqihix554Jb1vKxVLZowduoTfm46PbA1wOWbS+cYG7VEKhNhlkNWP5FcLZKQ37QSBym+2QDe+MmeXasA3EbLPZl7Hl3GzOe1tU/Hh6NBKoiaSgUAt9FyT6N6x619vXfXDHnZtUbzhxs8MMQNKlcv8MDnmrPc0yMzE94GgP/W1mWVIYCtAS7zA0SiZPReArltvY7E9gdZgvIEZcr4Hl2qFibFNFruyRrgoiV0j9lp7+lVJfLyYeYs6AIXpQLhrJpD87iqJ1OTNrwSF5klu1mqF+BR8d2bu9zTIzMTXgbgxROzcvQBbC1wGZNKR+E0RJyp1aj7Bc05Nrx9zdv14DYMu1oLXLTNHy+pXjL1mVhXiEjZCeys9ffTCy5rqmfS+n81p1dUNjMBngdwZqh/zcKUHtZY7umRGUh9EAMATyafrML3ubK0VANbFVwwtUicLLRzYDyVs42EdHC2U0W4OFR193a/ntbB/zBNhRVaG1zWRif1+VkhV/R/vmD39nI6GacfgLtiYFyj5Z6I7pGzuqcH9ltbp1ZL/lFcsrwW04c2MvJ4iF/Nu0nR1lzu6ZGZCS/aHS7A2X3iKjkzp5oNLqM7HR2PpPdLKMlM6iXv7O2pd7mnlgCXmiYtLmavUlU3aNZ3xVuj/L1VKwf1PCgWChuWeyKGh3zr8O2QOpVa/N7R/ywdClLh/eSYllju6ZEZyTboM9vV3xdNGte3lz0FantzwOVlBYwu92RqOqyZgxQ6l3syAzyDyz09srsHL6FBR8NyT83xhDzIBBQcRkXc5cbGGABftNTQh0drwQPA/L+4pOWWe3pk1P4nwADSAg0tw6OaBAAAAABJRU5ErkJggg==) no-repeat 0 0;
}
.fragment-box .edit_btn i.edit {
  background-position: -30px 0;
}
.fragment-box .edit_btn i.cancel {
  background-position: -60px 0;
}
.fragment-box .edit_btn i.nimbus {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAYCAYAAADKx8xXAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAA7DAAAOwwHHb6hkAAAAB3RJTUUH3QoODjQj28hlTAAAAZ9JREFUOMu11E2IjXEUx/HPuMOYO95jGixtpowopSQ1UpSEyMbewlZpUOokNjZiM9lYy5aNUbplY6UUpau8pLwtJgpjmLljc67+Pd07w8LZnPo/v+85v+c85//ULBARcWR0dLS30Wh8Ks8XWTh24FZEDP0reBWbsLc87Ek7I3gdEV+72J3Aeuxsa9odJ3Bjnq7XMYItVatrcCIiDnTpeBdPcT4i6iX4IvPZebq+wUGsKsGpzNsj4nAX8AHmsK0EP2eu41RE9HYAH2ESu0uwhi/5HvtxvAP4HtMYrg7nLY7hOcYiYqACTqGFDSVYx4qIaOICtuJoBfyZ4GAV7IuIlXiWgrGIGCzAmTxfXYLL0v8cmhjH5krXWur7S3BxVmtFxCxuprWLETGcmv6EZ6pL3oPe3JTHuIJ1OJnPW6mfKsFvCS0vCo3jCU5HxB58xCx+lOBLLMHaYj/f4UwKr+EyNubw/oBN9GGostz3cxkGcC6/9aUSnMbSrNjpZuzCIeyLiIfaw0ibtazc6Vp9wJ1Ov45J/MIrfxntjrfxHff87/gNgmt13oSsZPcAAAAASUVORK5CYII=) no-repeat center center transparent !important;
}
.fragment-box .edit_btn .name {
  width: 54px;
  height: 15px;
  position: absolute;
  top: 46px;
  left: 0;
  font-family: Helvetica, Arial, sans-serif !important;
  color: #000;
  font-size: 9px;
  text-shadow: 0 1px 2px rgba(255, 255, 255, 0.75);
  text-align: center;
  overflow: hidden;
  transition: top .5s;
}
.fragment-box .fragment-button-center,
.fragment-box .fragment-button-right {
  position: absolute;
  border-radius: 5px;
  border: 1px solid #CAC9C9;
  background: #DDD;
}
.fragment-box .fragment-button-center {
  left: 50%;
  bottom: -55px;
  width: 168px;
  transform: translateX(-50%);
}
.fragment-box .fragment-button-right {
  right: -63px;
  bottom: 4px;
}
