<div class="nsc-panel nsc-panel-compact">

    <div class="nsc-panel-tooltip">
        <div class="nsc-panel-tooltip-layout" layout="row" layout-align="start center">CTRL+V to toggle the panel</div>
    </div>

    <div class="nsc-panel-layout" flex layout="row" layout-align="start center">
        <div class="nsc-panel-groups" flex layout="row" layout-align="start start">

            <!-- group -->
            <div class="nsc-panel-group" flex="none" layout="row" layout-align="start start">
                <div class="nsc-panel-button separated active">
                    <div class="nsc-panel-select" flex layout="row">
                        <div class="nsc-panel-text nsc-noselect" flex layout="row" layout-align="center center">
                            <span class="nsc-icon nsc-icon-cursor-normal"></span>
                        </div>
                        <div class="nsc-panel-trigger">
                            <span class="nsc-icon nsc-icon-arrow"></span>
                        </div>
                    </div>
                    <div class="nsc-panel-dropdown to-top">
                        <ul flex layout="row" layout-align="start center">
                            <li class="nsc-panel-dropdown-icon" flex layout="row" layout-align="start center">
                                <span class="nsc-icon nsc-icon-cursor-shade" data-i18n="videoPanelFocusMouse" data-event="nimbus-editor-active-tools" data-event-param="cursorShadow"></span>
                            </li>
                            <li class="nsc-panel-dropdown-icon" flex layout="row" layout-align="start center">
                                <span class="nsc-icon nsc-icon-cursor-circle" data-i18n="videoPanelAnimatedCursor" data-event="nimbus-editor-active-tools" data-event-param="cursorRing"></span>
                            </li>
                            <!--<li class="nsc-panel-dropdown-icon " flex layout="row" layout-align="start center">-->
                            <!--<span class="nsc-icon nsc-icon-cursor-tail"></span>-->
                            <!--</li>-->
                            <!--<li class="nsc-panel-dropdown-icon " flex layout="row" layout-align="start center">-->
                            <!--<span class="nsc-icon nsc-icon-cursor-long"></span>-->
                            <!--</li>-->
                            <li class="nsc-panel-dropdown-icon " flex layout="row" layout-align="start center">
                                <span class="nsc-icon nsc-icon-cursor-normal" data-i18n="videoPanelSimpleCursor" data-event="nimbus-editor-active-tools" data-event-param="cursorDefault"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /group -->

            <!-- group -->
            <div class="nsc-panel-group" flex="none" layout="row" layout-align="start start">
                <button class="nsc-panel-button" type="button">
                    <span class="nsc-icon nsc-icon-pen" data-i18n="videoPanelPen" data-event="nimbus-editor-active-tools" data-event-param="pen"></span>
                </button>
                <button class="nsc-panel-button" type="button">
                    <span class="nsc-icon nsc-icon-arrow-line" data-i18n="videoPanelArrow" data-event="nimbus-editor-active-tools" data-event-param="arrow"></span>
                </button>
                <button class="nsc-panel-button" type="button">
                    <span class="nsc-icon nsc-icon-square" data-i18n="videoPanelSquare" data-event="nimbus-editor-active-tools" data-event-param="square"></span>
                </button>
                <div class="nsc-panel-button separated">
                    <div class="nsc-panel-select" flex layout="row">
                        <div class="nsc-panel-text nsc-noselect" flex layout="row" layout-align="center center">
                            <span class="nsc-icon nsc-icon-attention"></span>
                        </div>
                        <div class="nsc-panel-trigger">
                            <span class="nsc-icon nsc-icon-arrow"></span>
                        </div>
                    </div>
                    <div class="nsc-panel-dropdown to-top">
                        <ul flex layout="row" layout-align="start center">
                            <li class="nsc-panel-dropdown-icon" flex layout="row" layout-align="start center">
                                <span class="nsc-icon nsc-icon-attention" data-i18n="videoPanelMark" data-event="nimbus-editor-active-tools" data-event-param="notifRed"></span>
                            </li>
                            <li class="nsc-panel-dropdown-icon" flex layout="row" layout-align="start center">
                                <span class="nsc-icon nsc-icon-question" data-i18n="videoPanelQuestion" data-event="nimbus-editor-active-tools" data-event-param="notifBlue"></span>
                            </li>
                            <li class="nsc-panel-dropdown-icon" flex layout="row" layout-align="start center">
                                <span class="nsc-icon nsc-icon-done" data-i18n="videoPanelCheckmark" data-event="nimbus-editor-active-tools" data-event-param="notifGreen"></span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="nsc-panel-button assembled">
                    <div class="nsc-panel-select" flex layout="row">
                        <div class="nsc-panel-text nsc-noselect" flex layout="row" layout-align="center center">
							<span class="nsc-icon nsc-icon-fill-none nsc-panel-icon-fill">
								<span class="nsc-panel-icon-fill-inner" id="nsc_panel_button_colors" style="background:#00FF00;"></span>
							</span>
                        </div>
                        <div class="nsc-panel-trigger">
                            <span class="nsc-icon nsc-icon-arrow"></span>
                        </div>
                    </div>
                    <div class="nsc-panel-dropdown">
                        <div class="nsc-panel-drop-area">
                            <div class="nsc-panel-colors">

                                <!-- picked -->
                                <div class="colors-picked">
                                    <div class="colors-picked-layout" flex layout="row" layout-align="start start" layout-wrap="">
                                        <div class="colors-picked-item">
                                            <button class="colors-picked-button" type="button" data-event="nimbus-editor-active-color" data-event-param="#000000">
                                                <span class="colors-picked-button-inner" style="background: #000000;"></span>
                                            </button>
                                        </div>
                                        <div class="colors-picked-item">
                                            <button class="colors-picked-button" type="button" data-event="nimbus-editor-active-color" data-event-param="#0000FF">
                                                <span class="colors-picked-button-inner" style="background: #0000FF;"></span>
                                            </button>
                                        </div>
                                        <div class="colors-picked-item">
                                            <button class="colors-picked-button" type="button" data-event="nimbus-editor-active-color" data-event-param="#FF00FF">
                                                <span class="colors-picked-button-inner" style="background: #FF00FF;"></span>
                                            </button>
                                        </div>
                                        <div class="colors-picked-item">
                                            <button class="colors-picked-button" type="button" data-event="nimbus-editor-active-color" data-event-param="#00FFFF">
                                                <span class="colors-picked-button-inner" style="background: #00FFFF;"></span>
                                            </button>
                                        </div>
                                        <div class="colors-picked-item">
                                            <button class="colors-picked-button" type="button" data-event="nimbus-editor-active-color" data-event-param="#00FF00">
                                                <span class="colors-picked-button-inner" style="background: #00FF00;"></span>
                                            </button>
                                        </div>
                                        <div class="colors-picked-item">
                                            <button class="colors-picked-button" type="button" data-event="nimbus-editor-active-color" data-event-param="#FFFF00">
                                                <span class="colors-picked-button-inner" style="background: #FFFF00;"></span>
                                            </button>
                                        </div>
                                        <div class="colors-picked-item">
                                            <button class="colors-picked-button" type="button" data-event="nimbus-editor-active-color" data-event-param="#FF0000">
                                                <span class="colors-picked-button-inner" style="background: #FF0000;"></span>
                                            </button>
                                        </div>
                                        <div class="colors-picked-item">
                                            <button class="colors-picked-button" type="button" data-event="nimbus-editor-active-color" data-event-param="#FFFFFF">
                                                <span class="colors-picked-button-inner" style="background: #FFFFFF;"></span>
                                            </button>
                                        </div>
                                        <!--<div class="colors-picked-item">-->
                                        <!--<button class="colors-picked-button custom" type="button"> -->
                                        <!--<i class="nsc-icon ic-color-custom"></i> -->
                                        <!--</button>-->
                                        <!--</div>-->
                                    </div>
                                </div>
                                <!-- /picked -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /group -->

            <!-- group -->
            <div class="nsc-panel-group" flex="none" layout="row" layout-align="start start">
                <button class="nsc-panel-button " type="button">
                    <span class="nsc-icon nsc-icon-eraser" data-i18n="videoPanelClear" data-event="nimbus-editor-active-tools" data-event-param="clear"></span>
                </button>
                <button class="nsc-panel-button " type="button">
                    <span class="nsc-icon nsc-icon-eraser-all" data-i18n="videoPanelClearAll" data-event="nimbus-editor-active-tools" data-event-param="clearAll"></span>
                </button>
            </div>
            <!-- /group -->

        </div>

        <div class="nsc-panel-actions" flex="none" layout="row" layout-align="start center">
            <button class="nsc-panel-button big" type="button" id="nsc_panel_button_play">
                <span class="nsc-icon nsc-icon-play"></span>
            </button>
            <button class="nsc-panel-button big" type="button" id="nsc_panel_button_pause">
                <span class="nsc-icon nsc-icon-pause"></span>
            </button>
            <button class="nsc-panel-button big" type="button" id="nsc_panel_button_stop">
                <span class="nsc-icon nsc-icon-stop"></span>
            </button>
        </div>

        <!-- panel togglers -->
        <div class="nsc-panel-togglers" layout="row" layout-align="start center" flex="none">
            <button class="nsc-panel-toggle-button" type="button">
                <span class="nsc-icon nsc-icon-panel-close" data-i18n="videoPanelHideShowPanel"></span>
            </button>
        </div>
        <!-- /panel togglers -->

    </div>
</div>
